# Node projects
node_modules/
dist/
backend/src/generated/prisma

# Python project
.venv/
__pycache__/
dev-agents.yaml
.ruff_cache

# Environment
.env
.env.*
!.env.template

# IDE
.vscode

# Application local data
appdata/
~*.xlsx